.header {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #1E293B;
}
.headerOne {
    display: flex;
    justify-content: flex-end;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    width: 1296px;
}
.header-One-btn {
    display: flex;
    padding: 5px;
}
.header-One-btn-person {
    display: flex;
    margin-right: 24px;
}
.header-One-Enter {
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #1E293B;
    border: none;
    border-radius: 4px;
    gap: 8px;
}
.header-One-Enter:hover {
    background-color: rgb(61, 66, 66);
}
.header-One-New {
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #3B82F6;
    border: none;
    border-radius: 4px;
    padding: 7px;
    padding-right: 15px;
    gap: 8px;
}
.header-One-New:hover {
    background-color: rgb(61, 66, 66);
}
.header-Two {
    display: flex;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 8px;
}
.header-Two-inclosure {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: stretch;
    width: 1296px;
    font-family: 'Inter', sans-serif;
    padding: 5px;
}
.header-Two-headline {
    display: flex;
    align-self: center;
    margin-left: 0;
    margin-right: 24px;
    font-size: 25px;
    font-weight: 700;
}
.header-Two-Btn-List {
    display: flex;
    align-items: center;
    margin-right: 12px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    color: #3B82F6;
    border: 1px solid #3B82F6;
    border-radius: 4px;
    padding: 8px 12px;
    gap: 8px;
}
.header-Two-Btn-List:hover {
    background-color: rgb(173, 177, 177);
}
.header-input {
    display: flex;
    width: 60%;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-style: italic;
    padding-left: 10px;
    line-height: 20px;
    border: 1px solid rgb(146, 144, 144);
    border-radius: 4px 0px 0px 4px;
}
.header-Two-btn-search {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    padding: 8px 12px;
    background-color: #3B82F6;
    color: #fff;
    border-radius: 0px 4px 4px 0px;
    border: none;
    gap: 8px;   
}
.header-Two-btn-search:hover {
    background-color: rgb(173, 177, 177);
}
hr {
    border: 1px solid rgb(146, 144, 144);;
}
.main {
    display: flex;
    justify-content: center;
}
.text-container {
    display: flex;
    align-content: flex-start;
    width: 1296px;
    margin-top: 10px;
    margin-bottom: 10px;
}
h4 {
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}
.foto {
    width: 306px;
    height: 240px; 
}
a {
    font-family: 'Inter';
    font-size: 18px;
    color: #3B82F6;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}
.price {
    font-family: 'Inter';
    font-size: 18px;
    color: #1E293B;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}
.address, .publication-time {
    font-family: Inter;
    font-size: 14px;
    color: #64748B;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.main-Two {
    display: flex;
    justify-content: space-between;
    width: 1296px;
    margin-bottom: 32px;
}
.main-indent {
    height: 80px;
}